<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body bgcolor="#12B9F3">
<form method="POST" action="login">
Mobile Number: <input type="text" name="mobile">
<input type="submit" value="Login">
</form>
</body>
</html>
