<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket.io-stream.js"></script>
  </head>
  <body bgcolor="#12B9F3">
    <h1><font color="white">Call_O_Borator</font></h1>
      <font size="6" color="white" style="text-align:left;float:left;" id="name" color="white">Name: </font>
      <hr style="clear:both;"/><br>
      <font size="6" color="white" style="text-align:left;float:left;" id="number" color="white">Number: </font>
      <hr style="clear:both;"/><br>
      <button id="pick" bgcolor="white"><font size="6" color="#12B9F3">Pick</font></button>
      <button id="reject" bgcolor="white"><font size="6" color="#12B9F3">Reject</font></button>
      <!-- <button id="test"><font size="6" color="white">Testing</font></button> -->
</body>
  <script src="/client.js"></script>
</html>
