<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Flat HTML5/CSS3 Login Form</title>
      <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <h1 align="center">SYNC CALL</h1>
  <div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <input type="button">create</button>
    </form>
    <form class="login-form">
      <input id="mobile" type="text" placeholder="Mobile Number"/>
      <input type="button" id="login" value="Login"></input>
    </form>
  </div>
</div>
    <script  src="style/style_login.js"></script>
</body>
</html>
