<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>sync-call</title>
      <link rel="stylesheet" href="style/style.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
</head>
<body>
  <h1 align="center">SYNC CALL</h1>
  <audio id="myAudio">
  <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mpeg">
</audio>
  <div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" id="name" placeholder="Caller"/>
      <input type="text" id="number" placeholder="Number"/>
      <input type="button" id="pick" value="Pick"></input>
      <input type="button" id="reject" value ="Reject"></input>
      <input type="button" id="logout" value="Logout"></input>
    </form>
  </div>
</div>
  <script src= "/scripts/room.js"></script>
</body>
</html>
